ASSIGNMENTS/Assignment-3/node-red_flow.json
[{"id":"b39eae1a.6921a","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1802571c.c09af1","type":"ibmiot in","z":"b39eae1a.6921a","authentication":"apiKey","apiKey":"ee2579d8.b8869","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1223","applicationId":"","deviceType":"Device_1","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":210,"y":140,"wires":[["7119e46d.1826a4","310c4e3b.fdbef2"]]},{"id":"db44534a.21bd5","type":"debug","z":"b39eae1a.6921a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":740,"y":140,"wires":[]},{"id":"7119e46d.1826a4","type":"function","z":"b39eae1a.6921a","name":"Intensity","func":"msg.payload = msg.payload.intensity\nglobal.set('i',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":140,"wires":[["db44534a.21bd5","e92c16c7.c52bf"]]},{"id":"310c4e3b.fdbef2","type":"function","z":"b39eae1a.6921a","name":"Water Level","func":"msg.payload = msg.payload.waterlevel\nglobal.set('w',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["db44534a.21bd5","d9547b14.2f1ba8"]]},{"id":"e92c16c7.c52bf","type":"ui_chart","z":"b39eae1a.6921a","name":"","group":"dab54791.9707e","order":0,"width":0,"height":0,"label":"Intensity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"5","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":760,"y":220,"wires":[[]]},{"id":"d9547b14.2f1ba8","type":"ui_gauge","z":"b39eae1a.6921a","name":"","group":"dab54791.9707e","order":1,"width":0,"height":0,"gtype":"gage","title":"Water Level","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":280,"wires":[]},{"id":"4fda5e31.b2736","type":"http in","z":"b39eae1a.6921a","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":280,"y":380,"wires":[["87d48e3a.9652a"]]},{"id":"d5018ecf.07595","type":"http response","z":"b39eae1a.6921a","name":"","statusCode":"","headers":{},"x":610,"y":380,"wires":[]},{"id":"87d48e3a.9652a","type":"function","z":"b39eae1a.6921a","name":"","func":"msg.payload = {\"intensity\": global.get('i'),\"waterlevel\":global.get('w')}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":380,"wires":[["d5018ecf.07595"]]},{"id":"ee2579d8.b8869","type":"ibmiot","name":"API_IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"dab54791.9707e","type":"ui_group","name":"Sensor_data","tab":"15943c63.e69c8c","order":1,"disp":true,"width":"6","collapse":false},{"id":"15943c63.e69c8c","type":"ui_tab","name":"Assignment_3","icon":"dashboard","disabled":false,"hidden":false}]