ASSIGNMENTS/Assignment-4/nod-red_flow.json
[{"id":"e7d9e227.9ec698","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"67afcc1b.0114f4","type":"http in","z":"e7d9e227.9ec698","name":"","url":"/data1","method":"post","upload":false,"swaggerDoc":"","x":180,"y":200,"wires":[["8b362fe4.f4f68","510524e1.76c82c","3e6885ed.b2476a","63b68581.383a0c"]]},{"id":"8b362fe4.f4f68","type":"debug","z":"e7d9e227.9ec698","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":180,"wires":[]},{"id":"510524e1.76c82c","type":"ui_text","z":"e7d9e227.9ec698","group":"381e98c4.fd34c8","order":2,"width":0,"height":0,"name":"","label":"Username","format":"{{msg.payload.Username}}","layout":"row-spread","x":410,"y":220,"wires":[]},{"id":"3e6885ed.b2476a","type":"ui_text","z":"e7d9e227.9ec698","group":"381e98c4.fd34c8","order":3,"width":0,"height":0,"name":"","label":"Password","format":"{{msg.payload.Password}}","layout":"row-spread","x":400,"y":260,"wires":[]},{"id":"63b68581.383a0c","type":"ibmiot out","z":"e7d9e227.9ec698","authentication":"apiKey","apiKey":"ee2579d8.b8869","outputType":"cmd","deviceId":"1223","deviceType":"Device_1","eventCommandType":"cmd","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":380,"y":120,"wires":[]},{"id":"381e98c4.fd34c8","type":"ui_group","name":"Login Details","tab":"ed4f0870.9896e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"ee2579d8.b8869","type":"ibmiot","name":"API_IoT","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"ed4f0870.9896e8","type":"ui_tab","name":"Login Details","icon":"Login Details","disabled":false,"hidden":false}]